streamlit
requests
google-generativeai
google-api-python-client>=2.0.0
pandas
gspread
google-auth
pillow
typst
google-api-python-client>=2.100.0
google-auth>=2.23.0
google-auth-httplib2>=0.1.1
google-auth-oauthlib>=1.1.0
